<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.BankAccountMapper">

    <resultMap id="bankAccountResultMap" type="org.jc.backend.entity.BankAccountO">
        <result property="bankAccountID" column="bank_account_id"/>
        <result property="name" column="name"/>
        <result property="accountNumber" column="account_number"/>
        <result property="remark" column="remark"/>
        <result property="isVisible" column="is_visible"/>
        <result property="inUse" column="in_use"/>
    </resultMap>


    <select id="queryAllAccounts" resultMap="bankAccountResultMap">
        select bank_account_id, name, account_number, remark, is_visible, in_use
        from c_bank_account;
    </select>

    <select id="queryVisibleAccounts" resultMap="bankAccountResultMap">
        select bank_account_id, name, account_number, remark, is_visible, in_use
        from c_bank_account
        where is_visible != 0
    </select>

</mapper>