<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.BankAccountMapper">

    <insert id="insertAccount" useGeneratedKeys="true" keyProperty="bankAccountID"
            keyColumn="bank_account_id">
        insert into f_bank_account(name, account_number, remark, is_visible, in_use, initial_balance)
        values(#{name}, #{accountNumber}, #{remark}, #{isVisible}, #{inUse}, #{initialBalance})
    </insert>

    <update id="updateAccount">
        update f_bank_account
        set name = #{name},
            account_number = #{accountNumber},
            remark = #{remark},
            is_visible = #{isVisible},
            in_use = #{inUse},
            initial_balance = #{initialBalance}
        where bank_account_id = #{bankAccountID}
    </update>

    <delete id="deleteAccount">
        delete from f_bank_account
        where bank_account_id = #{id}
    </delete>

    <resultMap id="bankAccountResultMap" type="org.jc.backend.entity.BankAccountO">
        <result property="bankAccountID" column="bank_account_id"/>
        <result property="name" column="name"/>
        <result property="accountNumber" column="account_number"/>
        <result property="remark" column="remark"/>
        <result property="isVisible" column="is_visible"/>
        <result property="inUse" column="in_use"/>
        <result property="initialBalance" column="initial_balance"/>
    </resultMap>


    <select id="queryAllAccounts" resultMap="bankAccountResultMap">
        select bank_account_id, name, account_number, remark, is_visible, in_use, initial_balance
        from f_bank_account;
    </select>

    <select id="queryVisibleAccounts" resultMap="bankAccountResultMap">
        select bank_account_id, name, account_number, remark, is_visible, in_use, initial_balance
        from f_bank_account
        where is_visible = 1
    </select>

</mapper>