<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.CompanyMapper">

    <resultMap id="CompanyAreaResultMap" type="org.jc.backend.entity.CompanyAreaO">
        <result property="areaID" column="partner_company_area_id"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="treeLevel" column="tree_level"/>
    </resultMap>


    <select id="queryCompanyAreas" resultMap="CompanyAreaResultMap">
        select partner_company_area_id, name, remark, tree_level
        from c_partner_company_area
        order by tree_level
    </select>

    <insert id="insertPartnerCompanyArea" useGeneratedKeys="true"
        keyProperty="areaID" keyColumn="partner_company_area_id">
        insert into c_partner_company_area(name, remark, tree_level)
        values (#{name}, #{remark}, #{treeLevel})
    </insert>

    <update id="updatePartnerCompanyArea">
        update c_partner_company_area
        set name = #{name},
            remark = #{remark},
            tree_level = #{treeLevel}
        where partner_company_area_id = #{areaID}
    </update>


    <resultMap id="CompanyResultMap" type="org.jc.backend.entity.CompanyO">
        <result property="companyID" column="partner_company_id"/>
        <result property="sequenceNumber" column="sequence_number"/>
        <result property="brandCode" column="brand_code"/>
        <result property="abbreviatedName" column="abbreviated_name"/>
        <result property="areaID" column="area_id"/>
        <result property="phone" column="phone"/>
        <result property="address" column="address"/>
        <result property="fax" column="fax"/>
        <result property="classification" column="classification"/>
        <result property="fullName" column="full_name"/>
        <result property="contactPerson" column="contact_person"/>
        <result property="contactNumber" column="contact_number"/>
        <result property="remark" column="remark"/>
        <result property="isActive" column="is_active"/>
        <result property="zipcode" column="zipcode"/>
        <result property="email" column="email"/>
        <result property="website" column="website"/>
    </resultMap>


    <select id="queryCompanyByFuzzySearch" resultMap="CompanyResultMap">
        select partner_company_id, sequence_number, brand_code, abbreviated_name,
               area_id, phone, address, fax, classification, full_name, contact_person,
               contact_number, remark, is_active, zipcode, email, website
        from c_partner_company
        where
        <choose>
            <when test="phone != '' and name != ''">
                phone like '%'||#{phone}||'%' and abbreviated_name like '%'||#{name}||'%'
            </when>
            <when test="name != ''">
                abbreviated_name like '%'||#{name}||'%'
            </when>
            <when test="phone != ''">
                phone like '%'||#{phone}||'%'
            </when>
        </choose>
    </select>

    <select id="queryCompaniesByAreaID" resultMap="CompanyResultMap">
        select partner_company_id, sequence_number, brand_code, abbreviated_name,
               area_id, phone, address, fax, classification, full_name, contact_person,
               contact_number, remark, is_active, zipcode, email, website
        from c_partner_company
        where area_id = #{id}
    </select>

    <select id="querySelfCompany" resultMap="CompanyResultMap">
        select partner_company_id, sequence_number, brand_code, abbreviated_name,
               area_id, phone, address, fax, classification, full_name, contact_person,
               contact_number, remark, is_active, zipcode, email, website
        from c_partner_company
        where partner_company_id = 1
    </select>

    <insert id="insertCompany" useGeneratedKeys="true"
        keyProperty="companyID" keyColumn="partner_company_id">
        insert into c_partner_company(
            sequence_number, brand_code, abbreviated_name, area_id, phone, address,
            fax, classification, full_name, contact_person, contact_number, remark,
            is_active, zipcode, email, website
        )
        values (#{sequenceNumber}, #{brandCode}, #{abbreviatedName}, #{areaID},
                #{phone}, #{address}, #{fax}, #{classification}, #{fullName},
                #{contactPerson}, #{contactNumber}, #{remark}, #{isActive},
                #{zipcode}, #{email}, #{website})
    </insert>

    <update id="updateCompany">
        update c_partner_company
        set sequence_number = #{sequeceNumber},
            brand_code = #{brandCode},
            abbreviated_name = ${abbreviatedName},
            area_id = ${areaID},
            phone = #{phone},
            address = #{address},
            fax = ${fax},
            classification = ${classification},
            full_name = ${fullName},
            contact_person = #{contactPerson},
            contact_number = #{contactNumber},
            remark = ${remark},
            is_active = ${isActive},
            zipcode = ${zipcode},
            email = ${email},
            website = ${website}
        where partner_company_id = ${companyID}
    </update>


    <resultMap id="RelevantCompanyCategoryResultMap" type="org.jc.backend.entity.RelevantCompanyCategoryO">
        <result property="categoryID" column="relevant_company_category_id" />
        <result property="name" column="name" />
        <result property="remark" column="remark" />
    </resultMap>


    <select id="queryRelevantCompanyCategories" resultMap="RelevantCompanyCategoryResultMap">
        select relevant_company_category_id, name, remark
        from c_relevant_company_category
    </select>

    <insert id="insertRelevantCompanyCategory">
        insert into c_relevant_company_category(name, remark)
        values (#{name}, #{remark})
    </insert>

    <update id="updateRelevantCompanyCategory">
        update c_relevant_company_category
        set name = #{name},
            remark = #{remark}
        where relevant_company_category_id = #{categoryID}
    </update>


    <resultMap id="RelevantCompanyResultMap" type="org.jc.backend.entity.RelevantCompanyO">
        <result property="companyID" column="relevant_company_id" />
        <result property="abbreviatedName" column="abbreviated_name" />
        <result property="fullName" column="full_name" />
        <result property="phone" column="phone" />
        <result property="contactPerson" column="contact_person" />
        <result property="contactNumber" column="contact_number" />
        <result property="address" column="address" />
        <result property="fax" column="fax" />
        <result property="zipcode" column="zipcode" />
        <result property="email" column="email" />
        <result property="website" column="website" />
        <result property="categoryID" column="category_id" />
        <result property="remark" column="remark" />
        <result property="isActive" column="is_active" />
    </resultMap>


    <select id="queryRelevantCompaniesByCategory" resultMap="RelevantCompanyResultMap">
        select relevant_company_id, abbreviated_name, full_name, phone, contact_person, contact_number, address, fax, zipcode, email, website, category_id, remark, is_active
        from c_relevant_company
        where category_id = #{id}
    </select>

    <insert id="insertRelevantCompany" useGeneratedKeys="true"
        keyProperty="companyID" keyColumn="relevant_company_id">
        insert into c_relevant_company(
            abbreviated_name, full_name, phone, contact_person,
            contact_number, address, fax, zipcode, email, website,
            category_id, remark
        )
        values (#{abbreviatedName}, #{fullName}, #{phone}, #{contactPerson},
                #{contactNumber}, #{address}, #{fax}, #{zipcode},
                #{email}, #{website}, #{categoryID}, #{remark})
    </insert>

    <update id="updateRelevantCompany">
        update c_relevant_company
        set abbreviated_name = #{abbreviatedName},
            full_name = #{fullName},
            phone = #{phone},
            contact_person = #{contactPerson},
            contact_number = #{contactNumber},
            address = #{address},
            fax = #{fax},
            zipcode = #{zipcode},
            email = #{email},
            website = #{website},
            category_id = #{categoryID},
            remark = ${remark}
        where relevant_company_id = #{companyID}
    </update>

</mapper>