<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.EndUserMapper">
    
    <resultMap id="EndUserResultMap" type="org.jc.backend.entity.EndUserO.EndUserDO">
        <result property="userID" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="remark" column="remark"/>
    </resultMap>
    
    <select id="queryUserByName" resultMap="EndUserResultMap">
        select user_id, username, password
        from u_end_user
        where username = #{username};
    </select>

    <resultMap id="roleResultMap" type="org.jc.backend.entity.EndUserO.UserRole">
        <result property="roleID" column="role_id"/>
        <result property="role" column="role"/>
    </resultMap>

    <select id="queryRoleByUserId" resultMap="roleResultMap">
        select u_role.role_id, role
        from u_user_role join u_role on u_user_role.role_id = u_role.role_id
        where u_user_role.user_id = #{id}
    </select>

    <resultMap id="permissionResultMap" type="org.jc.backend.entity.EndUserO.UserPermission">
        <result property="permissionID" column="permission_id"/>
        <result property="permission" column="permission"/>
    </resultMap>

    <select id="queryPermissionsByUserId" resultMap="permissionResultMap">
        select permission
        from u_user_permission join u_permission on u_user_permission.permission_id = u_permission.permission_id
        where u_user_permission.user_id = #{id}
    </select>

    <select id="queryAllUsers" resultMap="EndUserResultMap">
        select user_id, username, remark
        from u_end_user
    </select>

    <select id="queryAllRoles" resultMap="roleResultMap">
        select role_id, role
        from u_role
    </select>

    <select id="queryAllPermissions" resultMap="permissionResultMap">
        select permission_id, permission
        from u_permission
    </select>

</mapper>