<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.FactoryBrandMapper">

    <resultMap id="FactoryBrandResultMap" type="org.jc.backend.entity.FactoryBrandO">
        <result property="factoryBrandID" column="factory_brand_id"/>
        <result property="sequenceNumber" column="sequence_number"/>
        <result property="code" column="code"/>
        <result property="remark" column="remark"/>
    </resultMap>


    <select id="queryAllFactoryBrands" resultMap="FactoryBrandResultMap">
        select factory_brand_id, sequence_number, code, remark
        from w_factory_brand
        order by sequence_number
    </select>

    <insert id="insertBrand" useGeneratedKeys="true" keyProperty="factoryBrandID"
        keyColumn="factory_brand_id">
        insert into w_factory_brand(sequence_number, code, remark)
        values (#{sequenceNumber}, #{code}, #{remark})
    </insert>

    <update id="updateBrand">
        update w_factory_brand
        set sequence_number = #{sequenceNumber},
            code = #{code},
            remark = #{remark}
        where factory_brand_id = #{factoryBrandID}
    </update>

</mapper>