<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.InvoiceEntryMapper">

    <select id="countNumberOfEntriesOfToday" resultType="int">
        select count(invoice_entry_serial)
        from m_invoice_entry
        where creation_date = date('now', 'localtime')
          and m_invoice_entry.invoice_entry_serial like #{prefix}||'%'
    </select>

    <insert id="insertEntry">
        insert into m_invoice_entry(
            invoice_entry_serial, partner_company_id, invoice_type, invoice_number, total_amount, invoice_amount,
            invoice_indication, is_follow_up_indication, remark, drawer, creation_date, checkout_date, in_or_out,
            invoice_date, invoice_number_date
        )
        values (
            #{invoiceEntrySerial}, #{partnerCompanyID}, #{invoiceType}, #{invoiceNumber}, #{totalAmount},
            #{invoiceAmount}, #{invoiceIndication}, #{isFollowUpIndication}, #{remark}, #{drawer},
            date('now', 'localtime'), #{checkoutDate}, #{inOrOut}, #{invoiceDate}, #{invoiceNumberDate}
        )
    </insert>

    <resultMap id="InvoiceEntryResultMap" type="org.jc.backend.entity.InvoiceEntryO">
        <result property="invoiceEntrySerial" column="invoice_entry_serial"/>
        <result property="partnerCompanyID" column="partner_company_id"/>
        <result property="companyFullName" column="company_full_name"/>
        <result property="invoiceType" column="invoice_type"/>
        <result property="invoiceNumber" column="invoice_number"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="invoiceAmount" column="invoice_amount"/>
        <result property="invoiceIndication" column="invoice_indication"/>
        <result property="isFollowUpIndication" column="is_follow_up_indication"/>
        <result property="remark" column="remark"/>
        <result property="drawer" column="drawer"/>
        <result property="creationDate" column="creation_date"/>
        <result property="checkoutDate" column="checkout_date"/>
        <result property="inOrOut" column="in_or_out"/>
        <result property="invoiceDate" column="invoice_date"/>
        <result property="invoiceNumberDate" column="invoice_number_date"/>
        <result property="isModified" column="is_modified"/>
    </resultMap>

    <select id="getEntriesInDateRangeAndParams" resultMap="InvoiceEntryResultMap">
        select invoice_entry_serial, i.partner_company_id, c.full_name as company_full_name, invoice_type,
               invoice_number, total_amount, invoice_amount, invoice_indication, is_follow_up_indication, i.remark,
               drawer, creation_date, checkout_date, in_or_out, invoice_date, invoice_number_date, is_modified
        from m_invoice_entry as i join c_partner_company as c on i.partner_company_id = c.partner_company_id
        where (invoice_entry_serial like #{prefix1}||'%' or invoice_entry_serial like #{prefix2}||'%')
            and (creation_date between #{startDate} and #{endDate})
        <if test="invoiceNumberDate != null">
            and i.invoice_number_date = #{invoiceNumberDate}
        </if>
        <if test="companyID != -1">
            and i.partner_company_ID = #{companyID}
        </if>
        <if test="isFollowUpIndication != -1">
            and i.is_follow_up_indication = #{isFollowUpIndication}
        </if>
        <if test="invoiceNumber != ''">
            and i.invoice_number = #{invoiceNumber}
        </if>
        <if test="invoiceType != ''">
            and i.invoice_type = #{invoiceType}
        </if>
        order by creation_date desc
    </select>

    <select id="selectEntryBySerialForCompare" resultMap="InvoiceEntryResultMap">
        select invoice_entry_serial, i.partner_company_id, c.full_name as company_full_name, invoice_type,
               invoice_number, total_amount, invoice_amount, invoice_indication, is_follow_up_indication, i.remark,
               drawer, creation_date, checkout_date, in_or_out, invoice_date, invoice_number_date, is_modified
        from m_invoice_entry as i join c_partner_company as c on i.partner_company_id = c.partner_company_id
        where invoice_entry_serial = #{serial}
    </select>

    <update id="updateEntry">
        update m_invoice_entry
        set invoice_number = #{invoiceNumber},
            invoice_amount = #{invoiceAmount},
            partner_company_id = #{partnerCompanyID},
            invoice_number_date = #{invoiceNumberDate},
            remark = #{remark}
        where invoice_entry_serial =#{invoiceEntrySerial}
    </update>
</mapper>