<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.MeasurementUnitMapper">

    <resultMap id="unitResultMap" type="org.jc.backend.entity.MeasurementUnitO">
        <result property="unitID" column="measurement_unit_id"/>
        <result property="unitName" column="name"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <select id="queryAllUnits" resultMap="unitResultMap">
        select measurement_unit_id, name, remark
        from w_measurement_unit
    </select>

</mapper>