<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.MiscellaneousDataMapper">

    <resultMap id="miscellaneousDataResultMap" type="org.jc.backend.entity.MiscellaneousDataO">
        <result property="propertyName" column="property_name"/>
        <result property="propertyValue" column="property_value"/>
        <result property="propertyRemark" column="property_remark"/>
    </resultMap>


    <select id="queryAllTaxRateOptions" resultMap="miscellaneousDataResultMap">
        select property_name, property_value, property_value2
        from miscellaneous_data
        where property_name = 'tax_rate'
    </select>
    
    <select id="queryLastBackupTime" resultType="java.lang.String">
        select property_value
        from miscellaneous_data
        where property_name = 'last_backup_time'
    </select>

    <update id="updateLastBackupTime">
        update miscellaneous_data
        set property_value = datetime('now', 'localtime')
        where property_name = 'last_backup_time'
    </update>

    <select id="queryPermittedRoundingAmountByUser" resultType="java.lang.String">
        select property_value2
        from miscellaneous_data
        where property_name = 'permitted_rounding_amount'
            and property_value = #{username}
    </select>

    <insert id="insertPermittedRoundingAmountByUser">
        insert into miscellaneous_data(property_name, property_value, property_value2)
        values ('permittedRoundingAmount', #{username}, #{amount})
    </insert>

    <update id="updatePermittedRoundingAmountByUser">
        update miscellaneous_data
        set property_value2 = #{amount}
        where property_name = 'permitted_rounding_amount'
            and property_value = #{username}
    </update>

    <delete id="deletePermittedRoundingAmountByUser">
        delete from miscellaneous_data
        where property_name = 'permitted_rounding_amount'
            and property_value = #{username}
    </delete>


    <select id="queryAuditMonths" resultType="java.lang.String">
        select property_value
        from miscellaneous_data
        where property_name = 'audit_month'
    </select>

    <insert id="insertAuditMonth">
        insert into miscellaneous_data(property_name, property_value)
        values ('audit_month', #{month})
    </insert>

    <delete id="deleteAuditMonth">
        delete from miscellaneous_data
        where property_name = 'audit_month' and property_value = #{month}
    </delete>

</mapper>