<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.ModelMapper">

    <resultMap id="ModelCategoryResultMap" type="org.jc.backend.entity.ModelCategoryO">
        <result property="modelCategoryID" column="model_category_id"/>
        <result property="sequenceNumber" column="sequence_number"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="treeLevel" column="tree_level"/>
    </resultMap>

    <select id="queryModelCategories" resultMap="ModelCategoryResultMap">
        select model_category_id, sequence_number, code, name, remark, tree_level
        from w_model_category
        order by sequence_number
    </select>

    <resultMap id="ModelResultMap" type="org.jc.backend.entity.ModelO">
        <result property="modelID" column="model_id"/>
        <result property="sequenceNumber" column="sequence_number"/>
        <result property="newCode" column="new_code"/>
        <result property="oldCode" column="old_code"/>
        <result property="categoryID" column="category_id"/>
        <result property="unitID" column="unit_id"/>
    </resultMap>

    <select id="queryModelsByCategory" resultMap="ModelResultMap">
        select model_id, sequence_number, new_code, old_code, category_id, unit_id
        from w_model
        where category_id = #{id}
        order by new_code
    </select>

    <select id="queryModelsByName" resultMap="ModelResultMap">
        select model_id, sequence_number, new_code, old_code, category_id, unit_id
        from w_model
        <where>
            <if test="category == 'newCode'">
                <choose>
                    <when test="method == 'prefix'">and new_code like #{name}||'%'</when>
                    <when test="method == 'infix'">and new_code like '%'||#{name}||'%'</when>
                    <when test="method == 'suffix'">and new_code like '%'||#{name}</when>
                </choose>
            </if>
            <if test="category == 'oldCode'">
                <choose>
                    <when test="method == 'prefix'">and old_code like #{name}||'%'</when>
                    <when test="method == 'infix'">and old_code like '%'||#{name}||'%'</when>
                    <when test="method == 'suffix'">and old_code like '%'||#{name}</when>
                </choose>
            </if>
        </where>
    </select>

    <select id="queryAllModels" resultMap="ModelResultMap">
        select model_id, m.sequence_number, new_code, old_code, category_id, unit_id
        from w_model as m join w_model_category as c on m.category_id = c.model_category_id
        order by c.sequence_number, m.new_code
    </select>

</mapper>