<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.ModificationMapper">

    <resultMap id="ModificationRecordResultMap" type="org.jc.backend.entity.ModificationO">
        <result property="modificationRecordID" column="modification_record_id"/>
        <result property="recordSerial" column="record_serial"/>
        <result property="recordContent" column="record_content"/>
        <result property="modificationDate" column="modification_date"/>
    </resultMap>


    <insert id="insertModificationRecord" useGeneratedKeys="true" keyProperty="modificationRecordID">
        insert into modification_record(
            record_serial, record_content, modification_date
        )
        values (
            #{recordSerial}, #{recordContent}, #{modificationDate}
        )
    </insert>


</mapper>