<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.PurchaseOrderMapper">

    <resultMap id="entryResultMap" type="org.jc.backend.entity.DO.PurchaseOrderEntryDO">
        <result property="purchaseOrderEntryID" column="purchase_order_entry_id"/>
        <result property="entryDate" column="entry_date"/>
        <result property="creationDate" column="creation_date"/>
        <result property="totalCost" column="total_cost"/>
        <result property="invoiceType" column="invoice_type"/>
        <result property="executionStatus" column="execution_status"/>
        <result property="drawer" column="drawer"/>
        <result property="partnerCompanyID" column="partner_company_id"/>
        <result property="companyAbbreviatedName" column="abbreviated_name"/>
        <result property="companyPhone" column="phone"/>
        <result property="companyFullName" column="full_name"/>
        <result property="departmentID" column="department_id"/>
        <result property="departmentName" column="department_name"/>
        <result property="warehouseID" column="warehouse_id"/>
        <result property="warehouseName" column="warehouse_name"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <resultMap id="productResultMap" type="org.jc.backend.entity.PurchaseOrderProductO">
        <result property="purchaseOrderProductID" column="purchase_order_product_id"/>
        <result property="purchaseOrderEntryID" column="purchase_order_entry_id"/>
        <result property="skuID" column="sku_id"/>
        <result property="newModelCode" column="new_code"/>
        <result property="oldModelCode" column="old_code"/>
        <result property="unitName" column="unit_name"/>
        <result property="factoryCode" column="factory_code"/>
        <result property="quantity" column="quantity"/>
        <result property="remark" column="remark"/>
        <result property="warehouseStockID" column="warehouse_stock_id"/>
        <result property="warehouseID" column="warehouse_id"/>
        <result property="taxRate" column="tax_rate"/>
        <result property="unitPriceWithoutTax" column="unit_price_without_tax"/>
        <result property="unitPriceWithTax" column="unit_price_with_tax"/>
        <result property="stockUnitPrice" column="stock_unit_price"/>
    </resultMap>


    <select id="countNumberOfEntries" resultType="int">
        select count(purchase_order_entry_id)
        from e_purchase_order_entry
        where entry_date = date('now')
    </select>

    <insert id="insertNewEntry">
        insert into e_purchase_order_entry(
            purchase_order_entry_id, entry_date, creation_date, total_cost, invoice_type,
            execution_status, drawer, partner_company_id, department_id, warehouse_id, remark
        )
        values (
            #{purchaseOrderEntryID}, #{entryDate}, #{creationDate}, #{totalCost}, #{invoiceType},
            #{executionStatus}, #{drawer}, #{partnerCompanyID}, #{departmentID}, #{warehouseID}, #{remark}
        )
    </insert>

    <insert id="insertNewProduct" useGeneratedKeys="true" keyProperty="purchaseOrderProductID"
            keyColumn="purchase_order_product_id">
        insert into e_purchase_order_product(
            purchase_order_entry_id, sku_id, quantity, remark, warehouse_stock_id, warehouse_id,
            tax_rate, unit_price_without_tax, unit_price_with_tax, stock_unit_price
        )
        values (
            #{purchaseOrderEntryID}, #{skuID}, #{quantity}, #{remark}, #{warehouseStockID},
            #{warehouseID}, #{taxRate}, #{unitPriceWithoutTax}, #{unitPriceWithTax}, #{stockUnitPrice}
        )
    </insert>

    <select id="queryEntriesWithinDateRangeByCompanyID" resultMap="entryResultMap">
        select p.purchase_order_entry_id, p.entry_date, p.creation_date, p.total_cost, p.invoice_type,
               p.execution_status, p.drawer, p.partner_company_id, c.abbreviated_name, c.phone,
               c.full_name, p.department_id, d.name as department_name, p.warehouse_id,
               w.name as warehouse_name, p.remark
        from ((e_purchase_order_entry as p join c_partner_company as c on p.partner_company_id = c.partner_company_id)
            join e_department as d on p.department_id = d.department_id)
            join w_warehouse as w on p.warehouse_id = w.warehouse_id
        where p.entry_date between #{startDate} and #{endDate}
            <if test="id != -1">
                and p.partner_company_id = #{id}
            </if>
    </select>

    <select id="queryProductsByEntryID" resultMap="productResultMap">
        select purchase_order_product_id, purchase_order_entry_id, p.sku_id,
               sku.new_code, sku.old_code, sku.unit_name, sku.factory_code
               quantity, remark, warehouse_stock_id, warehouse_id, tax_rate,
               unit_price_without_tax, unit_price_with_tax, stock_unit_price
        from e_purchase_order_product as p join (
            select s.sku_id, m.new_code, m.old_code, u.name as unit_name, f.code as factory_code
            from (w_sku as s join w_factory_brand as f on s.factory_brand_id = f.factory_brand_id)
                join (w_model as m join w_measurement_unit as u on m.unit_id = u.measurement_unit_id)
                on s.model_id = m.model_id
        ) as sku on p.sku_id = sku.sku_id
        where purchase_order_entry_id = #{id}
    </select>

</mapper>