<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.SkuMapper">

    <resultMap id="SkuResultMap" type="org.jc.backend.entity.SkuFullO">
        <result property="skuID" column="sku_id"/>
        <result property="factoryBrandID" column="factory_brand_id"/>
        <result property="factoryCode" column="factory_code"/>
        <result property="modelID" column="model_id"/>
        <result property="newCode" column="new_code"/>
        <result property="oldCode" column="old_code"/>
        <result property="unitID" column="unit_id"/>
        <result property="unitName" column="unit_name"/>
        <result property="stockQuantity" column="stock_quantity"/>
        <result property="remark" column="remark"/>
        <result property="supplierID" column="supplier_id"/>
        <result property="companyAbbreviatedName" column="abbreviated_name"/>
        <result property="companyFullName" column="full_name"/>
        <result property="companyPhone" column="phone"/>
        <result property="companyRemark" column="company_remark"/>
        <result property="recordFactoryStock" column="record_factory_stock"/>
        <result property="factoryPriceWithoutTax" column="factory_price_without_tax"/>
        <result property="factoryPriceWithTax" column="factory_price_with_tax"/>
        <result property="settlementPriceWithoutTax" column="settlement_price_without_tax"/>
        <result property="priceBaseReference" column="price_base_reference"/>
        <result property="wholesalePriceDiscount" column="wholesale_price_discount"/>
        <result property="wholesalePrice" column="wholesale_price"/>
        <result property="retailPriceDiscount" column="retail_price_discount"/>
        <result property="retailPrice" column="retail_price"/>
        <result property="stockLowerLimit" column="stock_lower_limit"/>
        <result property="stockUpperLimit" column="stock_upper_limit"/>
    </resultMap>


    <select id="queryFullSkuByModel" resultMap="SkuResultMap">
        select s.sku_id, s.factory_brand_id, f.code as factory_code, s.model_id, m.new_code, m.old_code,
               m.unit_id, u.name as unit_name, s.stock_quantity, s.remark, s.supplier_id, c.abbreviated_name,
               c.full_name, c.phone, c.remark as company_remark, s.record_factory_stock,
               s.factory_price_without_tax, s.factory_price_with_tax, s.settlement_price_without_tax,
               s.price_base_reference, s.wholesale_price_discount, s.wholesale_price, s.retail_price_discount,
               s.retail_price, s.stock_lower_limit, s.stock_upper_limit
        from ((w_sku as s join w_factory_brand as f on s.factory_brand_id = f.factory_brand_id)
            join (w_model as m join w_measurement_unit as u on m.unit_id = u.measurement_unit_id)
            on s.model_id = m.model_id)
            left join c_partner_company as c on s.supplier_id = c.partner_company_id
        where s.model_id = #{id}
    </select>

</mapper>