<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.WarehouseStockMapper">

    <resultMap id="WarehouseStockResultMap" type="org.jc.backend.entity.WarehouseStockO">
        <result property="warehouseStockID" column="warehouse_stock_id"/>
        <result property="skuID" column="sku_id"/>
        <result property="warehouseID" column="warehouse_id"/>
        <result property="warehouseName" column="warehouseName"/>
        <result property="stockQuantity" column="stock_quantity"/>
        <result property="stockUnitPriceWithoutTax" column="stock_unit_price_without_tax"/>
        <result property="remark" column="remark"/>
        <result property="storagePlaceID" column="storage_place_id"/>
        <result property="initialStockQuantity" column="initial_stock_quantity"/>
        <result property="initialStockUnitPrice" column="initial_stock_unit_price"/>
    </resultMap>


    <select id="queryWarehouseStocksBySku" resultMap="WarehouseStockResultMap">
        select warehouse_stock_id, sku_id, ws.warehouse_id, w.name as warehouseName, stock_quantity,
               stock_unit_price_without_tax, remark, storage_place_id,
               initial_stock_quantity, initial_stock_unit_price
        from w_warehouse_stock as ws join w_warehouse as w on ws.warehouse_id = w.warehouse_id
        where ws.sku_id = #{id}
    </select>

    <insert id="insertNewWarehouseStock" useGeneratedKeys="true" keyProperty="warehouseStockID"
            keyColumn="warehouse_stock_id">
        insert into w_warehouse_stock(sku_id, warehouse_id)
        values (#{skuID}, #{warehouseID})
    </insert>

    <select id="queryWarehouseStockByWarehouseAndSku" resultMap="WarehouseStockResultMap">
        select warehouse_stock_id, sku_id, ws.warehouse_id, w.name as warehouseName, stock_quantity,
               stock_unit_price_without_tax, remark, storage_place_id,
               initial_stock_quantity, initial_stock_unit_price
        from w_warehouse_stock as ws join w_warehouse as w on ws.warehouse_id = w.warehouse_id
        where ws.sku_id = #{sku} and ws.warehouse_id = #{warehouse}
    </select>

    <select id="queryWarehouseStockByID" resultMap="WarehouseStockResultMap">
        select warehouse_stock_id, sku_id, warehouse_id, stock_quantity,
               stock_unit_price_without_tax, remark, storage_place_id,
               initial_stock_quantity, initial_stock_unit_price
        from w_warehouse_stock
        where warehouse_stock_id = #{warehouseStockID}
    </select>


    <update id="updateStockInfo">
        update w_warehouse_stock
        set stock_quantity = #{stockQuantity},
            stock_unit_price_without_tax = #{stockUnitPriceWithoutTax}
        where warehouse_stock_id = #{warehouseStockID}
    </update>

</mapper>