### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/


#databse
db/**
!db/db.md
!db/Design.vsdx

# backend
backend/HELP.md
backend/logs/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# frontend
node_modules/
dist/
npm-debug.log

#electron_app
electron_app/logs/
electron_app/dist/
electron_app/target/
electron_app/db/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


.DS_Store
