<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.AcceptanceMapper">

    <select id="countNumberOfEntriesOfGivenDate" resultType="java.lang.Integer">
        select count(acceptance_entry_serial)
        from m_acceptance_entry
        where entry_date = #{date} and classification = #{classification}
    </select>

    <insert id="insertEntry">
        insert into m_acceptance_entry(
            acceptance_entry_serial, partner_company_id, entry_date, creation_date, department_id,
            source, bank_account_id, source_serial, amount, number, issue_date,
            expiration_date, type, drawer, remark, classification, status, debit_or_credit
        )
        values (
            #{acceptanceEntrySerial}, #{partnerCompanyID}, #{entryDate}, date('now', 'localtime'),
            #{departmentID}, #{source}, #{bankAccountID}, #{sourceSerial}, #{amount}, #{number},
            #{issueDate}, #{expirationDate}, #{type}, #{drawer}, #{remark}, #{classification},
            #{status}, #{debitOrCredit}
        )
    </insert>

    <select id="queryEntryBySerial" resultMap="entryResultMap">
        select acceptance_entry_serial, partner_company_id, entry_date, creation_date, department_id, source, bank_account_id,
               source_serial, amount, number, issue_date, expiration_date, type, drawer, remark, classification, status
        from m_acceptance_entry
        where acceptance_entry_serial = #{serial}
    </select>

    <update id="updateClassification">
        update m_acceptance_entry
        set classification = #{classification}
        where acceptance_entry_serial = #{serial}
    </update>


    <resultMap id="entryResultMap" type="org.jc.backend.entity.AcceptanceEntryO">
        <result property="acceptanceEntrySerial" column="acceptance_entry_serial"/>
        <result property="partnerCompanyID" column="partner_company_id"/>
        <result property="companyAbbreviatedName" column="abbreviated_name"/>
        <result property="entryDate" column="entry_date"/>
        <result property="creationDate" column="creation_date"/>
        <result property="departmentID" column="department_id"/>
        <result property="departmentName" column="department_name"/>
        <result property="source" column="source"/>
        <result property="bankAccountID" column="bank_account_id"/>
        <result property="bankAccountName" column="bank_account_name"/>
        <result property="sourceSerial" column="source_serial"/>
        <result property="amount" column="amount"/>
        <result property="number" column="number"/>
        <result property="issueDate" column="issue_date"/>
        <result property="expirationDate" column="expiration_date"/>
        <result property="type" column="type"/>
        <result property="remark" column="remark"/>
        <result property="drawer" column="drawer"/>
        <result property="classification" column="classification"/>
        <result property="status" column="status"/>
        <result property="debitOrCredit" column="debit_or_credit"/>
        <result property="balance" column="balance"/>
    </resultMap>


    <select id="queryEntryByNumber" resultMap="entryResultMap">
        select acceptance_entry_serial, a.partner_company_id, c.abbreviated_name, a.entry_date,
               a.creation_date, a.department_id, d.name as department_name, a.source, a.bank_account_id,
               b.name as bank_account_name, a.source_serial, a.amount, a.number, a.issue_date,
               a.expiration_date, a.type, a.remark, a.drawer, a.classification, a.status
        from m_acceptance_entry as a join c_partner_company as c
            on a.partner_company_id = c.partner_company_id
            join e_department as d on a.department_id = d.department_id
            left join c_bank_account as b on a.bank_account_id = b.bank_account_id
        where number like #{number}||'%'
    </select>

    <select id="queryEntriesInDateRange" resultMap="entryResultMap">
        select acceptance_entry_serial, a.partner_company_id, c.abbreviated_name, a.entry_date,
               a.creation_date, a.department_id, d.name as department_name, a.source, a.bank_account_id,
               b.name as bank_account_name, a.source_serial, a.amount, a.number, a.issue_date,
               a.expiration_date, a.type, a.remark, a.drawer, a.classification, a.status
        from m_acceptance_entry as a join c_partner_company as c
            on a.partner_company_id = c.partner_company_id
            join e_department as d on a.department_id = d.department_id
            left join c_bank_account as b on a.bank_account_id = b.bank_account_id
        where (a.entry_date between #{startDate} and #{endDate})
            and a.acceptance_entry_serial like #{prefix}||'%'
        order by a.acceptance_entry_serial, a.entry_date desc
    </select>

    <update id="updateEntry">

    </update>

    <delete id="deleteEntry">
        delete from m_acceptance_entry
        where acceptance_entry_serial = #{id}
    </delete>


    <select id="queryDistinctCompanyIDs" resultType="java.lang.Integer">
        select distinct partner_company_id
        from m_acceptance_entry
    </select>

    <select id="queryAllEntriesByPrefixAndCompany" resultMap="entryResultMap">
        select acceptance_entry_serial, partner_company_id, entry_date, creation_date,
               department_id, source, bank_account_id, source_serial, amount, number,
               issue_date, expiration_date, type, drawer, remark, classification,
               status, debit_or_credit
        from m_acceptance_entry
        where acceptance_entry_serial like #{prefix}||'%'
          and partner_company_id = #{id}
    </select>

    <update id="updateEntryDetailBySerial">
        update m_acceptance_entry
        set debit_or_credit = #{debitOrCredit},
            balance = #{balance}
        where acceptance_entry_serial = #{acceptanceEntrySerial}
    </update>

</mapper>