<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.AcceptanceMapper">

    <select id="countNumberOfEntriesOfGivenDate" resultType="java.lang.Integer">

    </select>

    <insert id="insertEntry">

    </insert>


    <resultMap id="entryResultMap" type="org.jc.backend.entity.AcceptanceEntryO">
        <result property="acceptanceEntrySerial" column="serial"/>
        <result property="partnerCompanyID" column="partner_company_id"/>
        <result property="companyAbbreviatedName" column="abbreviated_name"/>
        <result property="entryDate" column="entry_date"/>
        <result property="creationDate" column="creation_date"/>
        <result property="departmentID" column="department_id"/>
        <result property="departmentName" column="department_name"/>
        <result property="source" column="source"/>
        <result property="bankAccountID" column="bank_account_id"/>
        <result property="bankAccountName" column="bank_account_name"/>
        <result property="sourceSerial" column="source_serial"/>
        <result property="amount" column="amount"/>
        <result property="number" column="number"/>
        <result property="issueDate" column="issue_date"/>
        <result property="expirationDate" column="expiration_date"/>
        <result property="type" column="type"/>
        <result property="remark" column="remark"/>
        <result property="drawer" column="drawer"/>
        <result property="classification" column="classification"/>
        <result property="status" column="status"/>
    </resultMap>


    <select id="queryEntryByID" resultMap="entryResultMap">

    </select>

    <select id="queryEntriesInDateRange" resultMap="entryResultMap">

    </select>

    <update id="updateEntry">

    </update>

    <delete id="deleteEntry">
        delete from m_acceptance_entry
        where serial = #{id}
    </delete>

</mapper>