<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.CheckoutEntryMapper">

    <select id="countNumberOfEntriesOfToday" resultType="int">
        select count(checkout_entry_serial)
        from m_checkout_entry
        where checkout_date = #{date}
            and checkout_entry_serial like #{prefix}||'%'
    </select>

    <insert id="insertEntry">
        insert into m_checkout_entry (
            checkout_entry_serial, partner_company_id, invoice_type, payment_method, payment_number,
            payment_amount, bank_account_id, total_amount, is_rounded, rounded_amount, debt, service_fee,
            remark, drawer, creation_date, checkout_date, money_entry_serial, department_id
        )
        values (
            #{checkoutEntrySerial}, #{partnerCompanyID}, #{invoiceType}, #{paymentMethod}, #{paymentNumber},
            #{paymentAmount}, #{bankAccountID}, #{totalAmount}, #{isRounded}, #{roundedAmount}, #{debt},
            #{serviceFee}, #{remark}, #{drawer}, date('now', 'localtime'), #{checkoutDate}, #{moneyEntrySerial},
            #{departmentID}
        )
    </insert>

    <resultMap id="checkoutEntryResultMap" type="org.jc.backend.entity.DO.CheckoutEntryDO">
        <result property="checkoutEntrySerial" column="checkout_entry_serial"/>
        <result property="partnerCompanyID" column="partner_company_id"/>
        <result property="companyAbbreviatedName" column="company_abbreviated_name"/>
        <result property="companyFullName" column="company_full_name"/>
        <result property="companyPhone" column="company_phone"/>
        <result property="companyRemark" column="company_remark"/>
        <result property="invoiceType" column="invoice_type"/>
        <result property="paymentMethod" column="payment_method"/>
        <result property="paymentNumber" column="payment_number"/>
        <result property="paymentAmount" column="payment_amount"/>
        <result property="bankAccountID" column="bank_account_id"/>
        <result property="bankAccountName" column="bank_account_name"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="isRounded" column="is_rounded"/>
        <result property="isRounded" column="is_rounded"/>
        <result property="roundedAmount" column="rounded_amount"/>
        <result property="debt" column="debt"/>
        <result property="serviceFee" column="service_fee"/>
        <result property="remark" column="remark"/>
        <result property="drawer" column="drawer"/>
        <result property="creationDate" column="creation_date"/>
        <result property="checkoutDate" column="checkout_date"/>
        <result property="moneyEntrySerial" column="money_entry_serial"/>
        <result property="returnSerial" column="return_serial"/>
        <result property="departmentID" column="department_id"/>
        <result property="departmentName" column="department_name"/>
        <result property="isVerified" column="is_verified"/>
        <result property="isModified" column="is_modified"/>
    </resultMap>


    <select id="getEntriesInDateRangeByInvoiceTypeAndCompanyID" resultMap="checkoutEntryResultMap">
        select checkout_entry_serial, c.partner_company_id, p.abbreviated_name as company_abbreviated_name,
               p.full_name as company_full_name, p.phone as company_phone, p.remark as company_remark,
               invoice_type, payment_method, payment_number, payment_amount, c.bank_account_id,
               b.name as bank_account_name, total_amount, is_rounded, rounded_amount, debt, service_fee,
               c.remark, drawer, creation_date, checkout_date, money_entry_serial, return_serial,
               c.department_id, d.name as department_name, is_verified, is_modified
        from ((m_checkout_entry as c left join c_bank_account as b on c.bank_account_id = b.bank_account_id)
            join e_department as d on c.department_id = d.department_id)
            join c_partner_company as p on c.partner_company_id = p.partner_company_id
        where (checkout_entry_serial like #{prefix1}||'%' or checkout_entry_serial like #{prefix2}||'%')
            and (c.checkout_date between #{startDate} and #{endDate})
        <if test="companyID != -1">
            and c.partner_company_id = #{companyID}
        </if>
        <if test="invoiceType != ''">
            and c.invoice_type = #{invoiceType}
        </if>
        order by creation_date desc
    </select>

    <select id="selectEntryBySerialForCompare" resultMap="checkoutEntryResultMap">
        select checkout_entry_serial, payment_method, payment_number, payment_amount, c.bank_account_id,
               b.name as bank_account_name, is_rounded, rounded_amount, debt, service_fee, c.remark, drawer,
               is_verified
        from m_checkout_entry as c left join c_bank_account as b on c.bank_account_id = b.bank_account_id
        where checkout_entry_serial = #{serial}
    </select>

    <update id="modifyEntry">
        update m_checkout_entry
        set payment_method = #{paymentMethod},
            payment_number = #{paymentNumber},
            payment_amount = #{paymentAmount},
            bank_account_id = #{bankAccountID},
            is_rounded = #{isRounded},
            rounded_amount = #{roundedAmount},
            debt = #{debt},
            service_fee = #{serviceFee},
            remark = #{remark},
            is_modified = 1
        where checkout_entry_serial = #{checkoutEntrySerial}
    </update>

    <update id="returnEntry">
        update m_checkout_entry
        set return_serial = #{returnSerial}
        where checkout_entry_serial = #{checkoutEntrySerial}
    </update>


    <resultMap id="summaryResultMap" type="org.jc.backend.entity.StatO.CheckoutSummaryO">
        <result property="checkoutEntrySerial" column="checkout_entry_serial"/>
        <result property="partnerCompanyID" column="partner_company_id"/>
        <result property="companyAbbreviatedName" column="abbreviated_name"/>
        <result property="invoiceType" column="invoice_type"/>
        <result property="productID" column="product_id"/>
        <result property="skuID" column="sku_id"/>
        <result property="code" column="code"/>
        <result property="unitName" column="unit_name"/>
        <result property="factoryCode" column="factory_code"/>
        <result property="warehouseStockID" column="warehouse_stock_id"/>
        <result property="unitPriceWithoutTax" column="unit_price_without_tax"/>
        <result property="unitPriceWithTax" column="unit_price_with_tax"/>
        <result property="quantity" column="quantity"/>
    </resultMap>

    <select id="getInboundSummary" resultMap="summaryResultMap">
        select m.checkout_entry_serial, m.partner_company_id, c.abbreviated_name,
               m.invoice_type, p.inbound_product_id as product_id, p.sku_id,
               s.code, s.unit_name, s.factory_code, p.warehouse_stock_id,
               p.unit_price_without_tax, p.unit_price_with_tax, p.quantity
        from m_checkout_entry as m join e_inbound_product as p
            on m.checkout_entry_serial = p.checkout_serial
            join c_partner_company as c on m.partner_company_id = c.partner_company_id
            join sku_full as s on p.sku_id = s.sku_id
        where (checkout_date between #{startDate} and #{endDate})
        <if test="companyID != -1">
            and m.partner_company_id = #{companyID}
        </if>
        <if test="treeLevel != ''">
            and s.tree_level like #{treeLevel}||'%'
        </if>
        <if test="factoryBrand != ''">
            and factory_code = #{factoryBrand}
        </if>
        <if test="warehouseID != -1">
            and p.warehouse_id = #{warehouseID}
        </if>
        <if test="departmentID != -1">
            and department_id = #{departmentID}
        </if>
    </select>

    <select id="getOutboundSummary" resultMap="summaryResultMap">
        select m.checkout_entry_serial, m.partner_company_id, c.abbreviated_name,
               m.invoice_type, p.outbound_product_id as product_id, p.sku_id,
               s.code, s.unit_name, s.factory_code, p.warehouse_stock_id,
               p.unit_price_without_tax, p.unit_price_with_tax, p.quantity
        from m_checkout_entry as m join e_outbound_product as p
            on m.checkout_entry_serial = p.checkout_serial
            join c_partner_company as c on m.partner_company_id = c.partner_company_id
            join sku_full as s on p.sku_id = s.sku_id
        where (checkout_date between #{startDate} and #{endDate})
        <if test="companyID != -1">
            and m.partner_company_id = #{companyID}
        </if>
        <if test="treeLevel != ''">
            and s.tree_level like #{treeLevel}||'%'
        </if>
        <if test="factoryBrand != ''">
            and factory_code = #{factoryBrand}
        </if>
        <if test="warehouseID != -1">
            and p.warehouse_id = #{warehouseID}
        </if>
        <if test="departmentID != -1">
            and department_id = #{departmentID}
        </if>
    </select>

</mapper>