<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.DepartmentMapper">

    <resultMap id="DepartmentResultMap" type="org.jc.backend.entity.DepartmentO">
        <result property="departmentID" column="department_id"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="isDefault" column="is_default"/>
    </resultMap>

    <select id="queryDepartments" resultMap="DepartmentResultMap">
        select department_id, name, remark, is_default
        from e_department
    </select>

    <insert id="insertDepartment" useGeneratedKeys="true"
        keyProperty="departmentID" keyColumn="department_id">
        insert into e_department(name, remark, is_default)
        values (#{name}, #{remark}, #{isDefault})
    </insert>

    <update id="updateDepartment">
        update e_department
        set name = #{name},
            remark = #{remark},
            is_default = #{isDefault}
        where department_id = #{departmentID}
    </update>

    <delete id="deleteDepartment">
        delete from e_department
        where department_id = #{id}
    </delete>

</mapper>