<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.InboundEntryMapper">

    <select id="countNumberOfEntriesOfGivenDate" resultType="int">
        select count(inbound_entry_id)
        from e_inbound_entry
        where entry_date = #{date} and classification = #{type}
    </select>

    <insert id="insertNewEntry">
        insert into e_inbound_entry(
            inbound_entry_id, entry_date, creation_date, total_cost, invoice_type, tax_rate,
            drawer, partner_company_id, department_id, warehouse_id, remark, classification,
            shipping_cost, shipping_cost_type, shipping_quantity, shipping_number,
            shipping_method_id
        )
        values (
            #{inboundEntryID}, #{entryDate}, date('now', 'localtime'), #{totalCost}, #{invoiceType},
            #{taxRate}, #{drawer}, #{partnerCompanyID}, #{departmentID}, #{warehouseID}, #{remark},
            #{classification}, #{shippingCost}, #{shippingCostType}, #{shippingQuantity},
            #{shippingNumber}, #{shippingMethodID}
        )
    </insert>

    <insert id="insertNewProduct" useGeneratedKeys="true" keyProperty="inboundProductID"
            keyColumn="inbound_product_id">
        insert into e_inbound_product (
            inbound_entry_id, sku_id, quantity, stock_quantity, remark, warehouse_stock_id,
            warehouse_id, tax_rate, unit_price_without_tax, unit_price_with_tax, stock_unit_price
        )
        values (
            #{inboundEntryID}, #{skuID}, #{quantity}, #{stockQuantity}, #{remark}, #{warehouseStockID},
            #{warehouseID}, #{taxRate}, #{unitPriceWithoutTax}, #{unitPriceWithTax}, #{stockUnitPrice}
        )
    </insert>


    <resultMap id="entryResultMap" type="org.jc.backend.entity.DO.InboundEntryDO">
        <result property="inboundEntryID" column="inbound_entry_id"/>
        <result property="entryDate" column="entry_date"/>
        <result property="creationDate" column="creation_date"/>
        <result property="totalCost" column="total_cost"/>
        <result property="invoiceType" column="invoice_type"/>
        <result property="taxRate" column="tax_rate"/>
        <result property="drawer" column="drawer"/>
        <result property="partnerCompanyID" column="partner_company_id"/>
        <result property="companyAbbreviatedName" column="company_abbreviated_name"/>
        <result property="companyPhone" column="phone"/>
        <result property="companyFullName" column="full_name"/>
        <result property="companyRemark" column="company_remark"/>
        <result property="departmentID" column="department_id"/>
        <result property="departmentName" column="department_name"/>
        <result property="warehouseID" column="warehouse_id"/>
        <result property="warehouseName" column="warehouse_name"/>
        <result property="remark" column="remark"/>
        <result property="classification" column="classification"/>
        <result property="shippingCost" column="shipping_cost"/>
        <result property="shippingCostType" column="shipping_cost_type"/>
        <result property="shippingQuantity" column="shipping_quantity"/>
        <result property="shippingNumber" column="shipping_number"/>
        <result property="shippingMethodID" column="shipping_method_id"/>
        <result property="relevantCompanyName" column="relevant_company_name"/>
        <result property="shippingCostSerial" column="shipping_cost_serial"/>
        <result property="returnDate" column="return_date"/>
        <result property="returnSerial" column="return_serial"/>
        <result property="printTimes" column="print_times"/>
        <result property="isModified" column="is_modified"/>
    </resultMap>

    <resultMap id="productResultMap" type="org.jc.backend.entity.InboundProductO">
        <result property="inboundProductID" column="inbound_product_id"/>
        <result property="inboundEntryID" column="inbound_entry_id"/>
        <result property="skuID" column="sku_id"/>
        <result property="code" column="code"/>
        <result property="unitName" column="unit_name"/>
        <result property="factoryCode" column="factory_code"/>
        <result property="quantity" column="quantity"/>
        <result property="stockQuantity" column="stock_quantity"/>
        <result property="remark" column="remark"/>
        <result property="warehouseStockID" column="warehouse_stock_id"/>
        <result property="warehouseID" column="warehouse_id"/>
        <result property="taxRate" column="tax_rate"/>
        <result property="unitPriceWithoutTax" column="unit_price_without_tax"/>
        <result property="unitPriceWithTax" column="unit_price_with_tax"/>
        <result property="stockUnitPrice" column="stock_unit_price"/>
        <result property="returnStatus" column="return_status"/>
        <result property="checkoutSerial" column="checkout_serial"/>
        <result property="invoiceSerial" column="invoice_serial"/>
    </resultMap>


    <select id="queryEntriesInDateRangeByInvoiceTypeAndCompanyID" resultMap="entryResultMap">
        select i.inbound_entry_id, i.entry_date, i.creation_date, i.total_cost, i.invoice_type, i.tax_rate,
               i.drawer, i.partner_company_id, c.abbreviated_name as company_abbreviated_name,
               c.phone, c.full_name, c.remark as company_remark, d.department_id, d.name as department_name,
               i.warehouse_id, w.name as warehouse_name, i.remark, i.classification, i.shipping_cost,
               i.shipping_cost_type, i.shipping_quantity, i.shipping_number, i.shipping_method_id,
               r.abbreviated_name as relevant_company_name, i.shipping_cost_serial, i.return_date,
               i.return_serial, i.print_times, i.is_modified
        from (((e_inbound_entry as i join c_partner_company as c on i.partner_company_id = c.partner_company_id)
            join e_department as d on i.department_id = d.department_id)
            join w_warehouse as w on i.warehouse_id = w.warehouse_id)
            left join c_relevant_company as r on i.shipping_method_id = r.relevant_company_id
        where (i.entry_date between #{startDate} and #{endDate}) and i.classification = #{type}
            <if test="id != -1">
                and i.partner_company_id = #{id}
            </if>
        order by i.inbound_entry_id desc
    </select>

    <select id="queryProductsByEntryID" resultMap="productResultMap">
        select inbound_product_id, inbound_entry_id, p.sku_id, sku_full.code,
               sku_full.unit_name, sku_full.factory_code, quantity, p.stock_quantity, p.remark,
               warehouse_stock_id, warehouse_id, tax_rate, unit_price_without_tax, unit_price_with_tax,
               stock_unit_price, return_status, checkout_serial, invoice_serial
        from e_inbound_product as p join sku_full on p.sku_id = sku_full.sku_id
        where inbound_entry_id = #{id}
        order by inbound_product_id
    </select>


    <select id="selectEntryShippingInfoForCompare" resultMap="entryResultMap">
        select inbound_entry_id, shipping_cost, shipping_cost_type, shipping_number,
               shipping_method_id, c.abbreviated_name as relevant_company_name, i.remark
        from e_inbound_entry as i join c_relevant_company as c
            on i.shipping_method_id = c.relevant_company_id
        where inbound_entry_id = #{id}
    </select>

    <update id="updateShippingInfo">
        update e_inbound_entry
        set shipping_cost = #{shippingCost},
        shipping_cost_type = #{shippingCostType},
        shipping_quantity = #{shippingQuantity},
        shipping_number = #{shippingNumber},
        shipping_method_id = #{shippingMethodID},
        remark = #{remark},
        is_modified = 1
        where inbound_entry_id = #{inboundEntryID}
    </update>


    <select id="selectEntryForCompare" resultMap="entryResultMap">
        select inbound_entry_id, total_cost, invoice_type, tax_rate, drawer, i.department_id,
               d.name as department_name, i.remark
        from e_inbound_entry as i join e_department as d on i.department_id = d.department_id
        where inbound_entry_id = #{id}
    </select>

    <select id="selectProductsForCompare" resultMap="productResultMap">
        select inbound_product_id, inbound_entry_id, quantity, p.remark, tax_rate,
               unit_price_without_tax, unit_price_with_tax, m.code
        from e_inbound_product as p join (w_sku as s join w_model as m on s.model_id = m.model_id)
            on p.sku_id = s.sku_id
        where inbound_entry_id = #{id}
    </select>

    <update id="updateEntry">
        update e_inbound_entry
        set total_cost = #{totalCost},
            invoice_type = #{invoiceType},
            department_id = #{departmentID},
            remark = #{remark},
            is_modified = 1
        where inbound_entry_id = #{inboundEntryID}
    </update>

    <update id="updateProduct">
        update e_inbound_product
        set quantity = #{quantity},
            remark = #{remark},
            tax_rate = #{taxRate},
            unit_price_without_tax = #{unitPriceWithoutTax},
            unit_price_with_tax = #{unitPriceWithTax}
        where inbound_product_id = #{inboundProductID}
    </update>

    <update id="deleteProductByID">
        delete from e_inbound_product
        where inbound_product_id = #{id}
    </update>

    <update id="updateEntryReturn">
        update e_inbound_entry
        set total_cost = #{totalCost},
            invoice_type = #{invoiceType},
            department_id = #{departmentID},
            remark = #{remark},
            return_date = date('now', 'localtime'),
            is_modified = 1
        where inbound_entry_id = #{inboundEntryID}
    </update>

    <update id="returnProductByID">
        update e_inbound_product
        set quantity = #{quantity},
            return_status = 1
        where inbound_product_id = #{inboundProductID}
    </update>

    <delete id="deleteEntryByID">
        delete from e_inbound_entry
        where inbound_entry_id = #{id}
    </delete>

    <delete id="deleteProductsByEntryID">
        delete from e_inbound_product
        where inbound_entry_id = #{id}
    </delete>

    <select id="queryEntriesByCompanyIDAndInvoiceType" resultType="String">
        select inbound_entry_id
        from e_inbound_entry
        where partner_company_id = #{companyID} and invoice_type = #{invoiceType}
    </select>

    <update id="updateProductsWithCheckoutSerial">
        update e_inbound_product
        set checkout_serial = #{checkoutSerial}
        where inbound_product_id = #{inboundProductID}
    </update>

    <update id="updateProductsWithInvoiceSerial">
        update e_inbound_product
        set invoice_serial = #{invoiceSerial}
        where inbound_product_id = #{inboundProductID}
    </update>

    <select id="getProductsWithCheckoutSerial" resultMap="productResultMap">
        select inbound_product_id, inbound_entry_id, p.sku_id, sku_full.code,
               sku_full.unit_name, sku_full.factory_code, quantity, p.stock_quantity, p.remark,
               warehouse_stock_id, warehouse_id, tax_rate, unit_price_without_tax, unit_price_with_tax,
               stock_unit_price, return_status, checkout_serial, invoice_serial
        from e_inbound_product as p join sku_full on p.sku_id = sku_full.sku_id
        where p.checkout_serial = #{checkoutSerial}
        order by inbound_product_id
    </select>

    <select id="getProductsWithInvoiceSerial" resultMap="productResultMap">
        select inbound_product_id, inbound_entry_id, p.sku_id, sku_full.code,
               sku_full.unit_name, sku_full.factory_code, quantity, p.stock_quantity, p.remark,
               warehouse_stock_id, warehouse_id, tax_rate, unit_price_without_tax, unit_price_with_tax,
               stock_unit_price, return_status, checkout_serial, invoice_serial
        from e_inbound_product as p join sku_full on p.sku_id = sku_full.sku_id
        where p.invoice_serial = #{invoiceSerial}
        order by inbound_product_id
    </select>

    <update id="updateEntryWithShippingCostSerial">
        update e_inbound_entry
        set shipping_cost_serial = #{shippingCostSerial}
        where inbound_entry_id = #{inboundEntryID}
    </update>

    <select id="getEntriesWithShippingCostSerial" resultMap="entryResultMap">
        select i.inbound_entry_id, i.entry_date, i.creation_date, i.partner_company_id,
               c.abbreviated_name as company_abbreviated_name, c.phone, c.full_name, i.remark,
               i.classification, i.shipping_cost, i.shipping_cost_type, i.shipping_quantity,
               i.shipping_number, i.shipping_method_id, r.abbreviated_name as relevant_company_name,
               i.shipping_cost_serial
        from (e_inbound_entry as i join c_partner_company as c on i.partner_company_id = c.partner_company_id)
            left join c_relevant_company as r on i.shipping_method_id = r.relevant_company_id
        where i.shipping_cost_serial = #{shippingCostSerial}
        order by i.inbound_entry_id desc
    </select>

    <select id="getEntriesByCompanyAndShippingCostType" resultMap="entryResultMap">
        select i.inbound_entry_id, i.entry_date, i.creation_date, i.total_cost, i.invoice_type,
               i.drawer, i.partner_company_id, c.abbreviated_name as company_abbreviated_name,
               c.phone, c.full_name, i.remark, i.classification, i.shipping_cost, i.shipping_cost_type,
               i.shipping_quantity, i.shipping_number, i.shipping_method_id,
               r.abbreviated_name as relevant_company_name, i.shipping_cost_serial, i.is_modified
        from (e_inbound_entry as i join c_partner_company as c on i.partner_company_id = c.partner_company_id)
            left join c_relevant_company as r on i.shipping_method_id = r.relevant_company_id
        where i.shipping_cost_type = #{shippingCostType}
        <if test="companyID != 1">
            and i.partner_company_id = #{companyID}
        </if>
        order by i.inbound_entry_id desc
    </select>

    <resultMap id="invoiceStatResultMap" type="org.jc.backend.entity.StatO.InvoiceStatDO">
        <result property="companyID" column="partner_company_id"/>
        <result property="companyAbbreviatedName" column="abbreviated_name"/>
        <result property="companyFullName" column="full_name"/>
        <result property="quantity" column="quantity"/>
        <result property="unitPriceWithTax" column="unit_price_with_tax"/>
    </resultMap>

    <select id="queryNotYetCheckoutSummary" resultMap="invoiceStatResultMap">
        select c.partner_company_id, c.abbreviated_name, c.full_name, p.quantity, p.unit_price_with_tax
        from (e_inbound_entry as e join e_inbound_product as p on e.inbound_entry_id = p.inbound_entry_id)
            join c_partner_company as c on e.partner_company_id = c.partner_company_id
        where p.checkout_serial = ''
    </select>

    <select id="queryNotYetCheckoutDetailByCompanyID" resultMap="productResultMap">
        select inbound_product_id, p.inbound_entry_id, p.sku_id, sku_full.code,
               sku_full.unit_name, sku_full.factory_code, quantity, p.stock_quantity, p.remark,
               warehouse_stock_id, p.warehouse_id, p.tax_rate, unit_price_without_tax, unit_price_with_tax,
               stock_unit_price, return_status, checkout_serial, invoice_serial
        from (e_inbound_entry as e join (
                e_inbound_product as p join sku_full on p.sku_id = sku_full.sku_id
            ) on e.inbound_entry_id = p.inbound_entry_id)
            join c_partner_company as c on e.partner_company_id = c.partner_company_id
        where p.checkout_serial = '' and e.partner_company_id = #{id}
    </select>

    <select id="queryNotYetInvoiceSummary" resultMap="invoiceStatResultMap">
        select c.partner_company_id, c.abbreviated_name, c.full_name, p.quantity, p.unit_price_with_tax
        from (e_inbound_entry as e join e_inbound_product as p on e.inbound_entry_id = p.inbound_entry_id)
            join c_partner_company as c on e.partner_company_id = c.partner_company_id
        where p.invoice_serial = '' and p.checkout_serial != ''
    </select>

    <select id="queryNotYetInvoiceDetailByCompanyID" resultMap="productResultMap">
        select inbound_product_id, p.inbound_entry_id, p.sku_id, sku_full.code,
               sku_full.unit_name, sku_full.factory_code, quantity, p.stock_quantity, p.remark,
               warehouse_stock_id, p.warehouse_id, p.tax_rate, unit_price_without_tax, unit_price_with_tax,
               stock_unit_price, return_status, checkout_serial, invoice_serial
        from (e_inbound_entry as e join (
                e_inbound_product as p join sku_full on p.sku_id = sku_full.sku_id
            ) on e.inbound_entry_id = p.inbound_entry_id)
            join c_partner_company as c on e.partner_company_id = c.partner_company_id
        where p.invoice_serial = '' and p.checkout_serial != '' and e.partner_company_id = #{id}
    </select>

    <select id="queryProductsByWarehouseStockID" resultMap="productResultMap">
        select inbound_product_id, inbound_entry_id, p.sku_id, sku_full.code,
               sku_full.unit_name, sku_full.factory_code, quantity, p.stock_quantity, p.remark,
               warehouse_stock_id, warehouse_id, tax_rate, unit_price_without_tax, unit_price_with_tax,
               stock_unit_price, return_status, checkout_serial, invoice_serial
        from e_inbound_product as p join sku_full on p.sku_id = sku_full.sku_id
        where p.warehouse_stock_id = #{id}
        order by inbound_product_id
    </select>

    <resultMap id="productStatResultMap" type="org.jc.backend.entity.StatO.ProductStatO">
        <result property="inboundEntryID" column="inbound_entry_id"/>
        <result property="entryDate" column="entry_date"/>
        <result property="inboundProductID" column="inbound_product_id"/>
        <result property="skuID" column="sku_id"/>
        <result property="quantity" column="quantity"/>
        <result property="stockQuantity" column="stock_quantity"/>
        <result property="warehouseStockID" column="warehouse_stock_id"/>
        <result property="warehouseID" column="warehouse_id"/>
        <result property="unitPriceWithoutTax" column="unit_price_without_tax"/>
        <result property="stockUnitPrice" column="stock_unit_price"/>
    </resultMap>

    <select id="queryAllInboundProductsByWarehouseStockID" resultMap="productStatResultMap">
        select e.inbound_entry_id, e.entry_date, p.inbound_product_id,
               p.sku_id, p.quantity, p.stock_quantity, p.warehouse_stock_id,
               p.warehouse_id, p.unit_price_without_tax, p.stock_unit_price
        from e_inbound_entry as e join e_inbound_product as p
            on e.inbound_entry_id = p.inbound_entry_id
        where warehouse_stock_id = #{id}
    </select>

    <update id="updateProductStockInfo">
        update e_inbound_product
        set stock_quantity = #{stockQuantity},
            stock_unit_price = #{stockUnitPrice}
        where inbound_product_id = #{inboundProductID}
    </update>

    <resultMap id="summaryResultMap" type="org.jc.backend.entity.StatO.SummaryO">
        <result property="entryID" column="inbound_entry_id"/>
        <result property="entryDate" column="entry_date"/>
        <result property="invoiceType" column="invoice_type"/>
        <result property="taxRate" column="tax_rate"/>
        <result property="drawer" column="drawer"/>
        <result property="partnerCompanyID" column="partner_company_id"/>
        <result property="companyAbbreviatedName" column="abbreviated_name"/>
        <result property="departmentID" column="department_id"/>
        <result property="warehouseID" column="warehouse_id"/>
        <result property="remark" column="remark"/>
        <result property="classification" column="classification"/>
        <result property="shippingCost" column="shipping_cost"/>
        <result property="shippingCostType" column="shipping_cost_type"/>
        <result property="shippingQuantity" column="shipping_quantity"/>
        <result property="shippingNumber" column="shipping_number"/>
        <result property="shippingMethodID" column="shipping_method_id"/>
        <result property="relevantCompanyName" column="relevant_company_name"/>
        <result property="productID" column="inbound_product_id"/>
        <result property="skuID" column="sku_id"/>
        <result property="code" column="code"/>
        <result property="unitName" column="unit_name"/>
        <result property="factoryCode" column="factory_code"/>
        <result property="quantity" column="quantity"/>
        <result property="warehouseStockID" column="warehouse_stock_id"/>
        <result property="unitPriceWithoutTax" column="unit_price_without_tax"/>
        <result property="unitPriceWithTax" column="unit_price_with_tax"/>
    </resultMap>

    <select id="queryInboundSummary" resultMap="summaryResultMap">
        select e.inbound_entry_id, e.entry_date, invoice_type, e.tax_rate, drawer, e.partner_company_id,
               c.abbreviated_name, e.department_id, e.warehouse_id, e.remark, e.classification,
               e.shipping_cost, e.shipping_cost_type, e.shipping_quantity, e.shipping_method_id,
               r.abbreviated_name as relevant_company_name, p.inbound_product_id, p.sku_id,
               s.code, s.unit_name, s.factory_code, p.quantity, p.warehouse_stock_id,
               p.unit_price_with_tax, p.unit_price_without_tax
        from e_inbound_entry as e join e_inbound_product as p
            on e.inbound_entry_id = p.inbound_entry_id
            join sku_full as s on p.sku_id = s.sku_id
            join c_partner_company as c on e.partner_company_id = c.partner_company_id
            left join c_relevant_company as r on e.shipping_method_id = r.relevant_company_id
        where s.tree_level like #{treeLevel}||'%'
    </select>

</mapper>