<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.MoneyEntryMapper">

    <select id="countNumberOfEntriesOfToday" resultType="int">
        select count(money_entry_serial)
        from m_money_entry
        where payment_date = #{date}
          and money_entry_serial like #{prefix}||'%'
    </select>

    <insert id="insertEntry">
        insert into m_money_entry(
            money_entry_serial, partner_company_id, payment_indication, payment_method, payment_number,
            payment_amount, bank_account_id, remark, drawer, creation_date, payment_date, checkout_serial,
            department_id
        )
        values (
            #{moneyEntrySerial}, #{partnerCompanyID}, #{paymentIndication}, #{paymentMethod}, #{paymentNumber},
            #{paymentAmount}, #{bankAccountID}, #{remark}, #{drawer}, date('now', 'localtime'), #{paymentDate},
            #{checkoutSerial}, #{departmentID}
        )
    </insert>

    <resultMap id="moneyEntryResultMap" type="org.jc.backend.entity.MoneyEntryO">
        <result property="moneyEntrySerial" column="money_entry_serial"/>
        <result property="partnerCompanyID" column="partner_company_id"/>
        <result property="companyAbbreviatedName" column="company_abbreviated_name"/>
        <result property="companyFullName" column="company_full_name"/>
        <result property="companyPhone" column="company_phone"/>
        <result property="paymentIndication" column="payment_indication"/>
        <result property="paymentMethod" column="payment_method"/>
        <result property="paymentNumber" column="payment_number"/>
        <result property="paymentAmount" column="payment_amount"/>
        <result property="bankAccountID" column="bank_account_id"/>
        <result property="bankAccountName" column="bank_account_name"/>
        <result property="remark" column="remark"/>
        <result property="drawer" column="drawer"/>
        <result property="creationDate" column="creation_date"/>
        <result property="paymentDate" column="payment_date"/>
        <result property="checkoutSerial" column="checkout_serial"/>
        <result property="departmentID" column="department_id"/>
        <result property="departmentName" column="department_name"/>
        <result property="isModified" column="is_modified"/>
    </resultMap>

    <select id="getEntriesInDateRangeAndParams" resultMap="moneyEntryResultMap">
        select money_entry_serial, m.partner_company_id, c.abbreviated_name as company_abbreviated_name,
               c.full_name as company_full_name, c.phone as company_phone, payment_indication, payment_method,
               payment_number, payment_amount, m.bank_account_id, b.name as bank_account_name, m.remark,
               drawer, creation_date, payment_date, checkout_serial, m.department_id, d.name as department_name,
               is_modified
        from ((m_money_entry as m join c_partner_company as c on m.partner_company_id = c.partner_company_id)
            left join c_bank_account as b on m.bank_account_id = b.bank_account_id)
            join e_department as d on m.department_id = d.department_id
        where money_entry_serial like #{prefix}||'%' and (creation_date between #{startDate} and #{endDate})
        <if test="companyID != -1">
            and m.partner_company_id = #{companyID}
        </if>
        <if test="paymentMethod != ''">
            and m.payment_method = #{paymentMethod}
        </if>
        <if test="bankAccountID != 0">
            and m.bank_account_id = #{bankAccountID}
        </if>
        order by creation_date desc
    </select>

    <select id="selectEntryBySerial" resultMap="moneyEntryResultMap">
        select money_entry_serial, m.partner_company_id, c.abbreviated_name as company_abbreviated_name,
               payment_indication, payment_method, payment_number, payment_amount, m.bank_account_id,
               b.name as bank_account_name, m.remark, drawer, creation_date, payment_date, checkout_serial,
               m.department_id, d.name as department_name, is_modified
        from ((m_money_entry as m join c_partner_company as c on m.partner_company_id = c.partner_company_id)
            left join c_bank_account as b on m.bank_account_id = b.bank_account_id)
                 join e_department as d on m.department_id = d.department_id
        where money_entry_serial = #{serial}
    </select>

    <update id="modifyEntry">
        update m_money_entry
        set payment_method = #{paymentMethod},
            payment_amount = #{paymentAmount},
            payment_number = #{paymentNumber},
            bank_account_id = #{bankAccountID},
            payment_indication = #{paymentIndication},
            department_id = #{departmentID},
            remark = #{remark},
            is_modified = 1
        where money_entry_serial = #{moneyEntrySerial}
    </update>

</mapper>