<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jc.backend.dao.OutboundEntryMapper">

    <select id="countNumberOfEntriesOfGivenDate" resultType="int">
        select count(outbound_entry_id)
        from e_outbound_entry
        where shipment_date = #{date}
    </select>

    <insert id="insertNewEntry">
        insert into e_outbound_entry(
            outbound_entry_id, shipment_date, creation_date, total_amount, delivery_method, invoice_type,
            tax_rate, drawer, partner_company_id, department_id, warehouse_id, remark, classification,
            shipping_cost, shipping_cost_type, shipping_quantity, shipping_number,
            shipping_method_id
        )
        values (
            #{outboundEntryID}, #{shipmentDate}, date('now', 'localtime'), #{totalAmount}, #{deliveryMethod},
            #{taxRate}, #{invoiceType}, #{drawer}, #{partnerCompanyID}, #{departmentID}, #{warehouseID}, #{remark},
            #{classification}, #{shippingCost}, #{shippingCostType}, #{shippingQuantity},
            #{shippingNumber}, #{shippingMethodID}
        )
    </insert>

    <insert id="insertNewProduct" useGeneratedKeys="true" keyProperty="outboundProductID"
            keyColumn="outbound_product_id">
        insert into e_outbound_product (
            outbound_entry_id, sku_id, quantity, stock_quantity, remark, warehouse_stock_id,
            warehouse_id, tax_rate, unit_price_without_tax, unit_price_with_tax, stock_unit_price,
            is_presale
        )
        values (
            #{outboundEntryID}, #{skuID}, #{quantity}, #{stockQuantity}, #{remark}, #{warehouseStockID},
            #{warehouseID}, #{taxRate}, #{unitPriceWithoutTax}, #{unitPriceWithTax}, #{stockUnitPrice},
            #{isPresale}
        )
    </insert>


    <resultMap id="entryResultMap" type="org.jc.backend.entity.DO.OutboundEntryDO">
        <result property="outboundEntryID" column="outbound_entry_id"/>
        <result property="shipmentDate" column="shipment_date"/>
        <result property="creationDate" column="creation_date"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="deliveryMethod" column="delivery_method"/>
        <result property="invoiceType" column="invoice_type"/>
        <result property="taxRate" column="tax_rate"/>
        <result property="drawer" column="drawer"/>
        <result property="partnerCompanyID" column="partner_company_id"/>
        <result property="companyAbbreviatedName" column="company_abbreviated_name"/>
        <result property="companyPhone" column="phone"/>
        <result property="companyFullName" column="full_name"/>
        <result property="companyRemark" column="company_remark"/>
        <result property="departmentID" column="department_id"/>
        <result property="departmentName" column="department_name"/>
        <result property="warehouseID" column="warehouse_id"/>
        <result property="warehouseName" column="warehouse_name"/>
        <result property="remark" column="remark"/>
        <result property="classification" column="classification"/>
        <result property="shippingCost" column="shipping_cost"/>
        <result property="shippingCostType" column="shipping_cost_type"/>
        <result property="shippingQuantity" column="shipping_quantity"/>
        <result property="shippingNumber" column="shipping_number"/>
        <result property="shippingMethodID" column="shipping_method_id"/>
        <result property="relevantCompanyName" column="relevant_company_name"/>
        <result property="shippingCostSerial" column="shipping_cost_serial"/>
        <result property="returnDate" column="return_date"/>
        <result property="returnSerial" column="return_serial"/>
        <result property="printTimes" column="print_times"/>
        <result property="isModified" column="is_modified"/>
    </resultMap>

    <resultMap id="productResultMap" type="org.jc.backend.entity.OutboundProductO">
        <result property="outboundProductID" column="outbound_product_id"/>
        <result property="outboundEntryID" column="outbound_entry_id"/>
        <result property="skuID" column="sku_id"/>
        <result property="code" column="code"/>
        <result property="unitName" column="unit_name"/>
        <result property="factoryCode" column="factory_code"/>
        <result property="quantity" column="quantity"/>
        <result property="stockQuantity" column="stock_quantity"/>
        <result property="remark" column="remark"/>
        <result property="warehouseStockID" column="warehouse_stock_id"/>
        <result property="warehouseID" column="warehouse_id"/>
        <result property="taxRate" column="tax_rate"/>
        <result property="unitPriceWithoutTax" column="unit_price_without_tax"/>
        <result property="unitPriceWithTax" column="unit_price_with_tax"/>
        <result property="stockUnitPrice" column="stock_unit_price"/>
        <result property="returnStatus" column="return_status"/>
        <result property="checkoutSerial" column="checkout_serial"/>
        <result property="invoiceSerial" column="invoice_serial"/>
        <result property="isPresale" column="is_presale"/>
    </resultMap>

    <select id="queryEntriesInDateRangeByTypeAndCompanyID" resultMap="entryResultMap">
        select i.outbound_entry_id, i.shipment_date, i.creation_date, i.total_amount, i.delivery_method,
               i.invoice_type, i.tax_rate, i.drawer, i.partner_company_id, c.abbreviated_name as company_abbreviated_name,
               c.phone, c.full_name, c.remark as company_remark, d.department_id, d.name as department_name,
               i.warehouse_id, w.name as warehouse_name, i.remark, i.classification, i.shipping_cost,
               i.shipping_cost_type, i.shipping_quantity, i.shipping_number, i.shipping_method_id,
               r.abbreviated_name as relevant_company_name, i.shipping_cost_serial, i.return_date,
               i.return_serial, i.print_times, i.is_modified
        from (((e_outbound_entry as i join c_partner_company as c on i.partner_company_id = c.partner_company_id)
        join e_department as d on i.department_id = d.department_id)
        join w_warehouse as w on i.warehouse_id = w.warehouse_id)
        left join c_relevant_company as r on i.shipping_method_id = r.relevant_company_id
        where (i.shipment_date between #{startDate} and #{endDate}) and i.classification = #{type}
        <if test="id != -1">
            and i.partner_company_id = #{id}
        </if>
        order by i.outbound_entry_id desc
    </select>

    <select id="queryProductsByEntryID" resultMap="productResultMap">
        select outbound_product_id, outbound_entry_id, p.sku_id, sku_full.code,
               sku_full.unit_name, sku_full.factory_code, quantity, p.stock_quantity, p.remark,
               warehouse_stock_id, warehouse_id, tax_rate, unit_price_without_tax, unit_price_with_tax,
               stock_unit_price, return_status, checkout_serial, invoice_serial,
               is_presale
        from e_outbound_product as p join sku_full on p.sku_id = sku_full.sku_id
        where outbound_entry_id = #{id}
        order by outbound_product_id
    </select>

    <select id="queryPresaleProductsByWarehouseStockID" resultMap="productResultMap">
        select outbound_product_id, outbound_entry_id, sku_id, quantity, stock_quantity,
               remark, warehouse_stock_id, warehouse_id, tax_rate, unit_price_without_tax,
               unit_price_with_tax, stock_unit_price, return_status, checkout_serial,
               invoice_serial, is_presale
        from e_outbound_product
        where warehouse_stock_id = #{id} and is_presale = 1
        order by outbound_entry_id, outbound_product_id
    </select>

    <select id="queryProductsAfterDateByWarehouseStockID" resultMap="productResultMap">
        select outbound_product_id, p.outbound_entry_id, sku_id, quantity, stock_quantity,
               p.remark, warehouse_stock_id, p.warehouse_id, p.tax_rate, unit_price_without_tax,
               unit_price_with_tax, stock_unit_price, is_presale
        from e_outbound_entry as e join e_outbound_product as p
            on e.outbound_entry_id = p.outbound_entry_id
        where warehouse_stock_id = #{id} and e.shipment_date >= #{date}
        order by outbound_product_id
    </select>

    <select id="selectEntryShippingInfoForCompare" resultMap="entryResultMap">
        select outbound_entry_id, shipping_cost, shipping_cost_type, shipping_number,
               shipping_method_id, c.abbreviated_name as relevant_company_name, i.remark
        from e_outbound_entry as i join c_relevant_company as c
            on i.shipping_method_id = c.relevant_company_id
        where outbound_entry_id = #{id}
    </select>

    <update id="updateShippingInfo">
        update e_outbound_entry
        set shipping_cost = #{shippingCost},
            shipping_cost_type = #{shippingCostType},
            shipping_quantity = #{shippingQuantity},
            shipping_number = #{shippingNumber},
            shipping_method_id = #{shippingMethodID},
            remark = #{remark},
            is_modified = 1
        where outbound_entry_id = #{outboundEntryID}
    </update>


    <select id="selectEntryForCompare" resultMap="entryResultMap">
        select outbound_entry_id, total_amount, invoice_type, tax_rate, drawer, i.department_id,
               d.name as department_name, i.remark
        from e_outbound_entry as i join e_department as d on i.department_id = d.department_id
        where outbound_entry_id = #{id}
    </select>

    <select id="selectProductsForCompare" resultMap="productResultMap">
        select outbound_product_id, outbound_entry_id, quantity, p.remark, tax_rate,
               unit_price_without_tax, unit_price_with_tax, m.code
        from e_outbound_product as p join (w_sku as s join w_model as m on s.model_id = m.model_id)
            on p.sku_id = s.sku_id
        where outbound_entry_id = #{id}
    </select>

    <update id="updateEntry">
        update e_outbound_entry
        set total_amount = #{totalAmount},
            delivery_method = #{deliveryMethod},
            invoice_type = #{invoiceType},
            department_id = #{departmentID},
            remark = #{remark},
            is_modified = 1
        where outbound_entry_id = #{outboundEntryID}
    </update>

    <update id="updateProduct">
        update e_outbound_product
        set quantity = #{quantity},
            remark = #{remark},
            tax_rate = #{taxRate},
            unit_price_without_tax = #{unitPriceWithoutTax},
            unit_price_with_tax = #{unitPriceWithTax}
        where outbound_product_id = #{outboundProductID}
    </update>

    <update id="deleteProductByID">
        delete from e_outbound_product
        where outbound_product_id = #{id}
    </update>

    <update id="returnProductByID">
        update e_outbound_product
        set quantity = #{quantity}
        where outbound_product_id = #{outboundProductID}
    </update>

    <delete id="deleteEntryByID">
        delete from e_outbound_entry
        where outbound_entry_id = #{id}
    </delete>

    <delete id="deleteProductsByEntryID">
        delete from e_outbound_product
        where outbound_entry_id = #{id}
    </delete>


    <select id="queryEntriesByCompanyIDAndInvoiceType" resultType="String">
        select outbound_entry_id
        from e_outbound_entry
        where partner_company_id = #{companyID} and invoice_type = #{invoiceType}
    </select>

    <update id="updateProductsWithCheckoutSerial">
        update e_outbound_product
        set checkout_serial = #{checkoutSerial}
        where outbound_product_id = #{outboundProductID}
    </update>

    <update id="updateProductsWithInvoiceSerial">
        update e_outbound_product
        set invoice_serial = #{invoiceSerial}
        where outbound_product_id = #{outboundProductID}
    </update>

    <select id="getProductsWithCheckoutSerial" resultMap="productResultMap">
        select outbound_product_id, outbound_entry_id, p.sku_id, sku_full.code,
               sku_full.unit_name, sku_full.factory_code, quantity, p.stock_quantity, p.remark,
               warehouse_stock_id, warehouse_id, tax_rate, unit_price_without_tax, unit_price_with_tax,
               stock_unit_price, return_status, checkout_serial, invoice_serial
        from e_outbound_product as p join sku_full on p.sku_id = sku_full.sku_id
        where p.checkout_serial = #{checkoutSerial}
        order by outbound_product_id
    </select>

    <select id="getProductsWithInvoiceSerial" resultMap="productResultMap">
        select outbound_product_id, outbound_entry_id, p.sku_id, sku_full.code,
               sku_full.unit_name, sku_full.factory_code, quantity, p.stock_quantity, p.remark,
               warehouse_stock_id, warehouse_id, tax_rate, unit_price_without_tax, unit_price_with_tax,
               stock_unit_price, return_status, checkout_serial, invoice_serial
        from e_outbound_product as p join sku_full on p.sku_id = sku_full.sku_id
        where p.invoice_serial = #{invoiceSerial}
        order by outbound_product_id
    </select>

    <update id="updateEntryWithShippingCostSerial">
        update e_outbound_entry
        set shipping_cost_serial = #{shippingCostSerial}
        where outbound_entry_id = #{outboundEntryID}
    </update>

    <select id="getEntriesWithShippingCostSerial" resultMap="entryResultMap">
        select i.outbound_entry_id, i.shipment_date, i.creation_date, i.delivery_method,
               i.partner_company_id, c.abbreviated_name as company_abbreviated_name,
               c.phone, c.full_name, i.remark, i.classification, i.shipping_cost,
               i.shipping_cost_type, i.shipping_quantity, i.shipping_number, i.shipping_method_id,
               r.abbreviated_name as relevant_company_name, i.shipping_cost_serial
        from (e_outbound_entry as i join c_partner_company as c on i.partner_company_id = c.partner_company_id)
            left join c_relevant_company as r on i.shipping_method_id = r.relevant_company_id
        where i.shipping_cost_serial = #{shippingCostSerial}
        order by i.outbound_entry_id desc
    </select>

    <select id="getEntriesByCompanyAndShippingCostType" resultMap="entryResultMap">
        select i.outbound_entry_id, i.shipment_date, i.creation_date, i.total_amount, i.invoice_type,
               i.drawer, i.partner_company_id, c.abbreviated_name as company_abbreviated_name,
               c.phone, c.full_name, i.remark, i.classification, i.shipping_cost, i.shipping_cost_type,
               i.shipping_quantity, i.shipping_number, i.shipping_method_id,
               r.abbreviated_name as relevant_company_name, i.shipping_cost_serial, i.is_modified
        from (e_outbound_entry as i join c_partner_company as c on i.partner_company_id = c.partner_company_id)
            left join c_relevant_company as r on i.shipping_method_id = r.relevant_company_id
        where i.shipping_cost_type = #{shippingCostType}
        <if test="companyID != 1">
            and i.partner_company_id = #{companyID}
        </if>
        order by i.outbound_entry_id desc
    </select>

    <resultMap id="invoiceStatResultMap" type="org.jc.backend.entity.StatO.InvoiceStatDO">
        <result property="companyID" column="partner_company_id"/>
        <result property="companyAbbreviatedName" column="abbreviated_name"/>
        <result property="companyFullName" column="full_name"/>
        <result property="quantity" column="quantity"/>
        <result property="unitPriceWithTax" column="unit_price_with_tax"/>
    </resultMap>

    <select id="queryNotYetCheckoutSummary" resultMap="invoiceStatResultMap">
        select c.partner_company_id, c.abbreviated_name, c.full_name, p.quantity, p.unit_price_with_tax
        from (e_outbound_entry as e join e_outbound_product as p on e.outbound_entry_id = p.outbound_entry_id)
                 join c_partner_company as c on e.partner_company_id = c.partner_company_id
        where p.checkout_serial = ''
    </select>

    <select id="queryNotYetCheckoutDetailByCompanyID" resultMap="productResultMap">
        select outbound_product_id, p.outbound_entry_id, p.sku_id, sku_full.code,
               sku_full.unit_name, sku_full.factory_code, quantity, p.stock_quantity, p.remark,
               warehouse_stock_id, p.warehouse_id, p.tax_rate, unit_price_without_tax, unit_price_with_tax,
               stock_unit_price, return_status, checkout_serial, invoice_serial
        from (e_outbound_entry as e join (
                e_outbound_product as p join sku_full on p.sku_id = sku_full.sku_id
            ) on e.outbound_entry_id = p.outbound_entry_id)
            join c_partner_company as c on e.partner_company_id = c.partner_company_id
        where p.checkout_serial = '' and e.partner_company_id = #{id}
    </select>

    <select id="queryNotYetInvoiceSummary" resultMap="invoiceStatResultMap">
        select c.partner_company_id, c.abbreviated_name, c.full_name, p.quantity, p.unit_price_with_tax
        from (e_outbound_entry as e join e_outbound_product as p on e.outbound_entry_id = p.outbound_entry_id)
                 join c_partner_company as c on e.partner_company_id = c.partner_company_id
        where p.invoice_serial = '' and p.checkout_serial != ''
    </select>

    <select id="queryNotYetInvoiceDetailByCompanyID" resultMap="productResultMap">
        select outbound_product_id, p.outbound_entry_id, p.sku_id, sku_full.code,
               sku_full.unit_name, sku_full.factory_code, quantity, p.stock_quantity, p.remark,
               warehouse_stock_id, p.warehouse_id, p.tax_rate, unit_price_without_tax, unit_price_with_tax,
               stock_unit_price, return_status, checkout_serial, invoice_serial
        from (e_outbound_entry as e join (
                e_outbound_product as p join sku_full on p.sku_id = sku_full.sku_id
            ) on e.outbound_entry_id = p.outbound_entry_id)
            join c_partner_company as c on e.partner_company_id = c.partner_company_id
        where p.invoice_serial = '' and p.checkout_serial != '' and e.partner_company_id = #{id}
    </select>

    <select id="queryProductsByWarehouseStockID" resultMap="productResultMap">
        select outbound_product_id, outbound_entry_id, p.sku_id, sku_full.code,
               sku_full.unit_name, sku_full.factory_code, quantity, p.stock_quantity, p.remark,
               warehouse_stock_id, warehouse_id, tax_rate, unit_price_without_tax, unit_price_with_tax,
               stock_unit_price, return_status, checkout_serial, invoice_serial
        from e_outbound_product as p join sku_full on p.sku_id = sku_full.sku_id
        where p.warehouse_stock_id = #{id}
        order by outbound_product_id
    </select>

    <resultMap id="productStatResultMap" type="org.jc.backend.entity.StatO.ProductStatO">
        <result property="outboundEntryID" column="outbound_entry_id"/>
        <result property="shipmentDate" column="shipment_date"/>
        <result property="outboundProductID" column="outbound_product_id"/>
        <result property="skuID" column="sku_id"/>
        <result property="quantity" column="quantity"/>
        <result property="stockQuantity" column="stock_quantity"/>
        <result property="warehouseStockID" column="warehouse_stock_id"/>
        <result property="warehouseID" column="warehouse_id"/>
        <result property="unitPriceWithoutTax" column="unit_price_without_tax"/>
        <result property="stockUnitPrice" column="stock_unit_price"/>
        <result property="isPresale" column="is_presale"/>
    </resultMap>

    <select id="queryAllOutboundProductsByWarehouseStockID" resultMap="productStatResultMap">
        select e.outbound_entry_id, e.shipment_date, p.outbound_product_id,
               p.sku_id, p.quantity, p.stock_quantity, p.warehouse_stock_id,
               p.warehouse_id, p.unit_price_without_tax, p.stock_unit_price,
               p.is_presale
        from e_outbound_entry as e join e_outbound_product as p
                                       on e.outbound_entry_id = p.outbound_entry_id
        where warehouse_stock_id = #{id}
    </select>

    <update id="updateProductStockInfo">
        update e_outbound_product
        set stock_quantity = #{stockQuantity},
            stock_unit_price = #{stockUnitPrice},
            is_presale = #{isPresale}
        where outbound_product_id = #{outboundProductID}
    </update>

    <resultMap id="presaleResultMap" type="org.jc.backend.entity.StatO.PresaleO">
        <result property="outboundEntryID" column="outbound_entry_id"/>
        <result property="outboundProductID" column="outbound_product_id"/>
        <result property="skuID" column="sku_id"/>
        <result property="code" column="code"/>
        <result property="unitName" column="unit_name"/>
        <result property="factoryCode" column="factory_code"/>
        <result property="quantity" column="quantity"/>
        <result property="stockQuantity" column="stock_quantity"/>
        <result property="remark" column="remark"/>
        <result property="warehouseStockID" column="warehouse_stock_id"/>
        <result property="warehouseID" column="warehouse_id"/>
        <result property="taxRate" column="tax_rate"/>
        <result property="unitPriceWithoutTax" column="unit_price_without_tax"/>
        <result property="unitPriceWithTax" column="unit_price_with_tax"/>
        <result property="stockUnitPrice" column="stock_unit_price"/>
        <result property="returnStatus" column="return_status"/>
        <result property="checkoutSerial" column="checkout_serial"/>
        <result property="invoiceSerial" column="invoice_serial"/>
        <result property="partnerCompanyID" column="partner_company_id"/>
        <result property="companyAbbreviatedName" column="abbreviated_name"/>
        <result property="companyPhone" column="phone"/>
        <result property="companyFullName" column="full_name"/>
        <result property="companyRemark" column="company_remark"/>
    </resultMap>

    <select id="queryPresaleProducts" resultMap="presaleResultMap">
        select e.outbound_entry_id, p.outbound_product_id, p.sku_id, s.code, s.unit_name,
               s.factory_code, p.quantity, p.stock_quantity, p.remark, p.warehouse_stock_id,
               p.warehouse_id, p.tax_rate, p.unit_price_without_tax, p.unit_price_with_tax,
               p.stock_unit_price, p.return_status, p.checkout_serial, p.invoice_serial,
               e.partner_company_id, cpc.abbreviated_name, cpc.phone, cpc.full_name, cpc.remark
        from e_outbound_entry as e join e_outbound_product as p
            on e.outbound_entry_id = p.outbound_entry_id
            join sku_full as s on p.sku_id = s.sku_id
            join c_partner_company cpc on e.partner_company_id = cpc.partner_company_id
        where p.is_presale = 1
    </select>

</mapper>